<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%7.7thread{7}] [%50.-50logger{50}:%line]: %replace(%msg){'[\n\r]+', ''}%n"/>
    <property name="FILE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] [%7.7thread{7}] [%50.-50logger{50}]: %replace(%msg){'[\n\r]+', ''}%n"/>
    <logger name="com.align" level="INFO"/>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
</configuration>
